extends layout

block content
	h1= title
	.row
		.col-md-6
			#content.form-control(style='width: 100%; height: 300px; margin: 0 0 20px 0; overflow-y: scroll;')
			.form-group
				label Name: 
				input#name.form-control
			.form-group
				label Message: 
				input#field.form-control
			input#send.btn.btn-success(type='button', value='Send')
